@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #412020;
}
html{
    font-size: 20px;
    font-family: poppins;
}
h1{
    color: #fff;
    margin: 20px;
    text-align: center;
}
.container{
    background-color: #aa7373;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 50px 20px 60px 20px;
    position: relative;
}
.container::before{
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: inherit;
    background: linear-gradient(to right, #1c5e1f, #749275);
    z-index: -1;
}
.container inner {
    background-color: #aa7373;
    padding: 20px;
    border-radius: inherit;
    z-index: -1;
}

#main-point{
    color: aqua;
}
.container p{
    margin: 20px;
}
.container p>a{
    text-decoration: none;
    color: #fff;
}
.container h1{
    text-decoration: dashed;
}
.container div{
    margin: 20px;
    display: inline-block;
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
    
}
.container div>a{
    text-decoration: none;
    color: #fff;
}



